.profile{
width: 300px; 
border-radius: 50%; 
display:block; 
margin-left:auto; 
margin-right:auto
}

.title{
    letter-spacing: -2px;
    text-align:center
}

.content{
    color : red
}



#special {
    text-align: center;
    color:black
}
.box {
    width: 300px;
    background-color: cadetblue;
    margin: 10px;
    padding: 40px;
    border-radius: 15px;
    display:block; 
    margin-left:auto; 
    margin-right:auto;
    font-size:13px;
    color:white;
    box-shadow: 5px 5px black;
    
}

.container {
    width : 800px;
    display : block;
    margin-left:auto; 
    margin-right:auto;
    
    
}

.header {
    width : 100%;
    height : 100px;
    background: aquamarine
}

.left-menu {
    width : 20%;
    height : 400px;
    background-color : cornflowerblue;
    float : left;
/*    display : inline-block;*/
}

.right {
    width : 80%;
    height : 400px;
    background-color: coral;
    float : left;
/*     display : inline-block;*/
/*    display : block(한행을 전부 차지)
      display : inline-block(내 크기만큼 차지, <div>사이에 공백이 없어야함.*/
}

.footer {
    width : 100%;
    height : 100px;
    background-color: grey;
    clear : both
}

.prac-name {
    width : 80%;
    height : 50px;
/*    background-color: red;*/
    float : left;
}

.prac-img{
    width: 20%;
    height : 150px;
    float : left;
/*    margin-left: 10px;*/
}

.prac-content{
    width : 100%;
    height : ;
    background-color: darkgrey;
    clear : both;
    padding-left: 5px;
    padding-top: 1px;
    

}

.profile1 {
    width : 20%;
    border-radius: 70%;
    padding-top: 5px;
    padding-left: 10px;
    float : left;
}


.navbar li {
    display:inline-block;
    width : 60px;
    text-align: center;
    background: #eee;
    padding : 10px;
    border-radius: 20px;
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
}
.main-background {
    width: 100%;
    height: 500px;
    background-image : url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(83%);
    padding: 1px;
    position:relative;
}

.main-title {
    color:white;
    font-size:40px;
    margin-top:100px;
    text-align: center;
}

.main-content {
    color:white;
    font-size:16;
    font-style: oblique;
    text-align: center;
}

.main-button {
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
/*  좌표속성 사용하기 위해서 position (relative) 는 원래 위치를 기준으로 이동, 공중에 뜸*/
/*  position: absolute <- 내 부모 태그중에 position:relative 가진 부모 기준*/
/*    position:static (좌표이동x)
      position:fixed (화면고정) 화면에 달라붙는 요소 구성 가능 */
    left:0;
    right:0;
    margin: auto;
    width: 120px;
    
}
