//다른 파일에 있는 내용 가져오고 싶을 땐 @use '파일경로';
@use 'reset';




// .box {
//     width: 100%;
// }
// sass의 용도
    // 1.어려운 단어 기억해야할때 변수문법으로 사용
    $메인컬러 : #2a4cb2;
    $서브컬러 : #eeeeee;
    $기본사이즈 : 16px;
    // $(변수명) : 저장해서 쓸값;


    // @extend 문법 class속 요소들을 복사해줌
    // % 임시클래스 특징 : 단독으로 컴파일 되지않음
%btn {
    width : 100px;
    height : 100px;
    padding : 20px;
}

.btn-green{
    @extend %btn;
    color : green;
}

.btn-red{
    @extend %btn;
    color : red;
}

.btn-blue{
    @extend %btn;
    color : blue;
}

.main bg h4{
    font-size: 16px;
}

.main-bg button {
    color : red;
}

// nesting 문법 - 관련있는 class 묶을때 좋음
.main-bg {
    width : 100px;
    h4 {
        font-size : 16px;
    }
    button {
        color : red;
    }
}

.background {
    background-color: $메인컬러;
    font-size : $기본사이즈 - 2px;
}

.box {
    color:$서브컬러;
    font-size: $기본사이즈 + 2px;
}


// @mixin문법 : 긴 코드를 짧은 단어로 축약할때 씀
// @include 를 사용하여 축약한 코드를 쓸 수 있다.
@mixin 폰트스타일($구멍){
    font-size: $구멍;
    letter-spacing: -1px;
}

// @mixin 폰트스타일($구멍, $구멍2){
//     font-size: $구멍;
//     #{ $구멍2 }: 1px;   
// }
// 글자 중간에 $변수나 $파라미터 넣을 때는 #{ $변수명 }


h2 {
    @include 폰트스타일(40px);
    color : reset.$메인컬러;
}

h3{
    @include 폰트스타일(30px)
}

h4{
    @include 폰트스타일(20px)
}

// nesting 문법
.sh-list {
    li {
    list-style: none;
    padding : 15px;
    border : 1px solid #eee;
    }

    .active {
        background-color: skyblue;
        color : white;
    }
}

.alert-box-green{
    padding : 10px;
    border-radius: 5px;
    border : 1px solid #eee;
    background : green;
    color : white;
}

.alert-box-orange{
    @extend .alert-box-green;
    background : orange;

}

.alert-box-blue{
    @extend .alert-box-green;
    background : blue;

}

div {
    box-sizing: border-box;
}

@mixin column($구멍){
    float : left;
    width : $구멍;
    padding : 15px;
}

.row .col-6{
    @include column(50%)
}

.row .col-4{
    @include column(33.33%)
}